/* .ImageInputButton{
    width: 60%;
    margin: 10px;
}
.CartItemContainer{
    width: 40%;
    border: 1px solid ;
    display: inline-block;
}
.CartItemContainer img{
    width: 50%;
}
.cart_total{
    width: 40%;
    border: 1px solid;
    margin: 0 10px;
} */
.ImageButton {
  width: 12vw;
  text-align: left;
  margin: 0.2rem;
  border: 1px solid;
}
.ImageButton button {
  margin: 0 0.2rem;
}
.ImageButton img {
  width: 10vw;
  padding: 0.6rem 0;
  margin: 0 0.6rem;
}

.product_details {
  color: #333;
  text-align: left;
  padding: 19rem auto;
  margin: 1rem;
}
.product_details h2 {
  font-weight: bold;
}
.CartItemContainer {
  display: flex;
  width: 40vw;
  border: 1px solid hsl(120, 100%, 25%);
  justify-content: space-between;
  margin: 1rem auto;
}
.Cart_Main_Page {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 2rem;
  margin: 2rem auto;
  height: 70vh;
  background-color: rgba(91, 90, 90, 0.044);
  box-shadow: rgba(219, 23, 23, 0.044) 10px 10px 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.cart_item {
  overflow-y: scroll;
  width: 60%;
  margin: 1rem auto;
  border: 1px solid gray;
  border-radius: 1rem;
}
.cart_item::-webkit-scrollbar {
  display: none;
}

/* Style for details in product like title and category which are of gray color */
.details {
  color: gray;
  display: flex;
  justify-content: space-between;
  width: 10vw;
  font-size: 1vw;
}
.cart_total {
  width: 25vw;
  border: 1px solid gray;
  height: 50vh;
  border-radius: 0.6rem;
  margin: 1rem auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cart_total p {
  font-weight: bold;
}
.product_button {
  margin: 1rem auto;
}
.cart_total span {
  color: dodgerblue;
  display: inline;
}

/* Animation for checkout page */

.Favourite_icon_filled{
  cursor: pointer;
  position:sticky;
  left:13rem;
  top:3rem;
  color:red;
  border-radius: 59% 60%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: scale(1.1);
  transition: transform 3s ease-in;
}
.Favourite_icon_outlined{
  cursor: pointer;
  color:black;
  transition: scale(1);
  transition: transform 3s ;
}
.cart_total_details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:.6rem ;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  font-size: 1.2vw;
  border-radius: 5px;
}
.cart_total_detail{ 
  width: 90%;
  border-radius: 10px;
}
.checkout{
  margin: auto;
  font-size: 1.1rem;
  letter-spacing: .1em;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: dodgerblue;
  transform: scale(1);
  transform: transform 1s;
  transition: background 1s;
  animation:Animation 3s infinite;
}
@keyframes Animation {
  0%{
      background:linear-gradient(to right,dodgerblue,indigo) ;
      transition-delay: 5s;
    }
    50%{
    background:linear-gradient(to right,dodgerblue,indigo) ;
    transition-delay: 5s;
  }
    100%{
      background:linear-gradient(to right,indigo,blue);
      transition-delay: 2s;
  }

}

.checkout:hover{
  transform: scale(1.1);
  background:dodgerblue ;
}